.header-image {
    background-image: url(../assets/yu-gi-oh_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main .yu1 {
  z-index: 3;
  color: black;
  font-size: 75px;
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
  text-align: center;
}

main .img {
  background-color: black;
}

main .img h1 {
  color: rgb(255, 255, 255);
}

main section {
  padding: 3px 0;
}

.header-image {
  height: 500px;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}